@model IschoolJason.Models.MinorsModel;

@{
    ViewData["Title"] = Model.pageTitle;
}

<h1 class="title">@ViewData["Title"]</h1> 

<h3 class="secondTitle">Undergraduate Minors</h3> 

<div id="accordion">
    <!--  accordion UI -->
    @if (Model.UgMinors != null) // Checks if there are undergraduate minors to display
    {
        for (int i = 0; i < Model.UgMinors.Count; i++) // Iterates over minors
        {
            var minor = Model.UgMinors[i]; // Retrieves the current minor
            if (minor != null) // Checks if the minor is not null
            {
                <div class="card">
                    <!-- Represents a card for each minor -->
                    <div class="card-header" id="@($"heading{i}")">
                        <!-- Header of the card -->
                        <h5 class="mb-0">
                            <button class="btn btn-link degree-button" data-toggle="collapse" data-target="@($"#collapse{i}")" aria-expanded="true" aria-controls="@($"collapse{i}")">
                                @minor.Title 
                                @minor.Name 
                            </button>
                        </h5>
                    </div>

                    <div id="@($"collapse{i}")" class="collapse show" aria-labelledby="@($"heading{i}")" data-parent="#accordion">
                        <!-- Collapsible content for each minor -->
                        <div class="card-body">
                            <h5>@minor.Title</h5> 
                            <p>@minor.Description</p> 
                            <ul>
                                @if (minor.Courses != null) 
                                {
                                    foreach (var course in @minor.Courses) // Iterates over the courses
                                    {
                                        <p>@course</p>
                                    }

                                }
                            </ul>
                            <p>@minor.Note</p> 
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
